@font-face {
    font-family: 'navystudio';
    src:  url('fonts/navystudio.eot?tx0mup');
    src:  url('fonts/navystudio.eot?tx0mup#iefix') format('embedded-opentype'),
      url('fonts/navystudio.ttf?tx0mup') format('truetype'),
      url('fonts/navystudio.woff?tx0mup') format('woff'),
      url('fonts/navystudio.svg?tx0mup#navystudio') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: block;
  }
  
  .navy {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'navystudio' !important;
    speak: never;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
  
    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  .navy-cloud:before {
    content: "\e900";
  }
  .navy-picture:before {
    content: "\e901";
  }
  .navy-camera:before {
    content: "\e902";
  }
  .navy-film:before {
    content: "\e903";
  }
  .navy-type:before {
    content: "\e904";
  }
  .navy-location:before {
    content: "\e905";
  }
  .navy-monitor:before {
    content: "\e906";
    color: white;
  }
  .navy-list:before {
    content: "\e907";
  }
  .navy-grid:before {
    content: "\e908";
  }
  .navy-camera1:before {
    content: "\e909";
  }